.container {
    padding: 0px 120px;
}

.balok {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
    background-color: #f0f5f7;
    width: auto;
    height: auto;
    border-radius: 25px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 2px;
    font-size: 18px;
}

.tombol {
    background-color: darkseagreen;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    font-size: 16px;
    padding: 0 20px;
}

.tombollebar {
    background-color: darkseagreen;
    height: 40px;
    width: 280px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 20px;
}

input {
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 7px;

}

.judul {
    font-weight: bold;
}

.js {
    margin-top: 10px;
}

.form {
    width: 400px;
    border-radius: 10px;
}

.tengah {
    text-align: center;
}

.rata {
    text-align: justify;
}

#deskripsi2 li {
    list-style: none;
    margin-bottom: 10px;
}